//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: toRem(5);
  padding-bottom: toRem(5);
  @include adaptiveValue("padding-left", 30, 20, 0, 1580, 767);
  @include adaptiveValue("padding-right", 30, 20, 0, 1580, 767);

  font-family: "Montserrat";
  font-weight: 500;
  @include adaptiveValue("font-size", 18, 16);
  line-height: 130%;

  @include adaptiveValue("min-height", 43, 41);

  border-radius: 10px;
  background-color: #c3ff01;
  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      background-color: rgba(196, 255, 1, 0.8);
    }
  }
  &--fw {
    width: 100%;
  }

  &_black {
    background-color: #000;
    color: #fff;

    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
  }
}

.button-line {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: toRem(5);
  padding-bottom: toRem(5);
  @include adaptiveValue("padding-left", 30, 20, 0, 1580, 767);
  @include adaptiveValue("padding-right", 30, 20, 0, 1580, 767);

  font-family: "Montserrat";
  font-weight: 500;
  @include adaptiveValue("font-size", 18, 16);
  line-height: 130%;

  @include adaptiveValue("min-height", 43, 41);
  color: #fff;

  border-radius: 10px;
  border: 1px solid #c3ff01;
  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      background-color: rgba(196, 255, 1, 0.8);
      border-color: rgba(196, 255, 1, 0.8);
      color: #000;
    }
  }

  &_black {
    border-color: #000;
    color: #000;

    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
        border-color: #000;
        color: #fff;
      }
    }
  }
}
