//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: toRem(11) toRem(17);

  font-weight: 400;
  font-size: toRem(18);
  line-height: 120%;
  color: #000;
  background-color: transparent;

  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  &._form-focus {
  }
  &._form-error {
  }

  &:focus {
    border-color: rgba(0, 0, 0, 0.6);
    outline: none;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.6);
  }
}
.input[placeholder]:not([data-placeholder-nohiden]) {
  &::placeholder {
    transition: opacity 0.3s;
  }
  &:focus::placeholder {
    opacity: 0;
  }
}

textarea.input {
  resize: none;
  padding: toRem(5) toRem(17) toRem(11);
  height: toRem(94);
}
