// Заголовки, загальні БЕМ блоки та інше...

//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================

.social {
  display: flex;
  gap: toRem(8);

  &__item {
    width: toRem(40);

    transition: transform 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }

    img {
      max-width: 100%;
    }
  }
}

%scrollbar {
  //   & {
  //     scrollbar-width: thin;
  //     scrollbar-color: #c3ff01 #000;
  //   }
  &::-webkit-scrollbar {
    width: 5px; /* ширина всей полосы прокрутки */
  }

  &::-webkit-scrollbar-track {
    background: #000; /* цвет зоны отслеживания */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c3ff01; /* цвет бегунка */
  }
}

%scrollbar-light {
  //   & {
  //     scrollbar-width: thin;
  //     scrollbar-color: #fff #000;
  //   }
  &::-webkit-scrollbar {
    width: 5px; /* ширина всей полосы прокрутки */
  }

  &::-webkit-scrollbar-track {
    background: #000; /* цвет зоны отслеживания */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fff; /* цвет бегунка */
  }
}

//========================================================================================================================================================

.title {
  font-family: Benzin;
  font-weight: 500;
  @include adaptiveValue("font-size", 40, 25);
  line-height: 130%;

  color: #000;

  &_white {
    color: #fff;
  }
}

//========================================================================================================================================================

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: toRem(5);

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    border: 1px solid #c3ff01;
    background-color: #fff;

    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background-color: #c3ff01;
      }
    }
  }
  .swiper-pagination-bullet-active {
    background-color: #c3ff01;
  }
}
