//====================================================================================================

.footer {
  padding-top: toRem(20);
  @media (min-width: $tablet) {
    padding-bottom: toRem(10);
  }
  &__container {
  }

  &__body {
    display: flex;

    border-radius: 20px;
    background-color: #c3ff01;

    @include adaptiveValue("padding-top", 50, 25);
    @include adaptiveValue("padding-bottom", 45, 25);
    @include adaptiveValue("padding-left", 50, 15, 0, 1580, 991);
    @include adaptiveValue("padding-right", 50, 15, 0, 1580, 991);

    @media (min-width: $tablet) {
      @include adaptiveValue("gap", 200, 50, 0, 1580, 991);
    }

    @media (max-width: $tablet) {
      flex-direction: column;
      gap: toRem(5);
      margin-left: toRem(-15);
      margin-right: toRem(-15);
      border-radius: 10px 10px 0 0;
    }
  }

  &__list {
    @media (min-width: $tablet) {
      &:last-child {
        margin-left: auto;
        text-align: right;
        .footer__social {
          justify-content: flex-end;
        }
      }
    }

    @media (max-width: $tablet) {
      &:last-child {
        margin-top: toRem(45);
      }
    }
  }

  &__title {
    font-family: Benzin;
    font-weight: 400;
    @include adaptiveValue("font-size", 25, 22);
    line-height: 130%;

    color: #000;
    @media (max-width: $tablet) {
      width: 100%;
    }

    &[data-spoller] {
      &::after {
        content: "\e900";
        @extend %ic;
        @include adaptiveValue("font-size", 18, 16);
        display: none;
        transition: transform 0.3s ease 0s;
      }
      &._spoller-active::after {
        transform: rotate(180deg);
      }

      @media (max-width: $tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: toRem(10);
        border-bottom: 1px solid #000;
        &::after {
          display: block;
        }
      }
    }

    &:not(:last-child) {
      @media (min-width: $tablet) {
        margin-bottom: toRem(20);
      }
      @media (max-width: $tablet) {
        margin: 5px 0;
      }
    }

    &_hide {
      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  &__wrapper {
    @media (max-width: $tablet) {
      padding-top: toRem(10);
      padding-bottom: toRem(10);
    }
  }

  &__row {
    display: grid;
    gap: toRem(10);
    @media (min-width: $tablet) {
      gap: toRem(20);
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__col {
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }

  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;

    position: relative;
    @media (any-hover: hover) {
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #000;

      opacity: 0;
      transition: all 0.3s ease 0s;
    }
  }

  &__social {
    @media (max-width: $tablet) {
      justify-content: center;
    }
  }
}

//====================================================================================================
