//====================================================================================================

.hero {
  @include adaptiveValue("padding-bottom", 50, 30);
  &__container {
  }

  &__wrapper {
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    @include adaptiveValue("padding-top", 110, 70);

    @media (min-width: $tablet) {
      @include adaptiveValue("padding-bottom", 195, 100);
    }
    @media (max-width: $tablet) {
      padding-bottom: toRem(30);
      min-height: toRem(400);

      display: flex;
      flex-direction: column;
    }
    @media (max-width: $pc) {
      padding-left: toRem(15);
      padding-right: toRem(15);
    }
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__chank {
    position: absolute;
    width: 52.3%; /* 811/1550 */
    height: 100%;
    top: 2px;
    left: 0;

    img {
      max-width: 100%;
    }

    @media (max-width: $pc) {
      display: none;
    }
  }

  &__title {
    font-family: "Benzin";
    font-weight: 400;
    @include adaptiveValue("font-size", 169, 40);
    line-height: 100%;
    color: #c3ff01;

    @media (max-width: $pc) {
      margin-bottom: toRem(10);
    }
    @media (min-width: $pc) {
      margin-left: toRem(160);
    }
  }

  &__body {
    @media (min-width: $pc) {
      width: 50%;
      margin-left: auto;
    }
    @media (max-width: $tablet) {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
    }
  }

  &__community {
    font-family: "Inter Tight";
    font-weight: 400;
    @include adaptiveValue("font-size", 35, 20);
    line-height: 120%;
    color: #fff;

    &:not(:last-child) {
      margin-bottom: toRem(50);
    }
  }

  &__buttons {
    display: flex;
    gap: toRem(23);

    @media (max-width: $tablet) {
      margin-top: auto;
    }
    @media (max-width: $mobile) {
      gap: toRem(10);
      flex-direction: column;
    }
  }

  &__button {
    &.button-line {
      @media (max-width: $mobile) {
        background-color: rgba(196, 255, 1, 0.6);
        color: #000;
      }
    }
  }
}

//====================================================================================================

.about-hero {
  &__container {
  }

  &__body {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }

  &__wrapper {
    max-width: toRem(1240);
    margin-left: auto;
    margin-right: auto;

    padding-left: toRem(15);
    padding-right: toRem(15);
    @include adaptiveValue("padding-top", 144, 70);

    @media (min-width: $mobile) {
      @include adaptiveValue("padding-bottom", 210, 100);
    }
    @media (max-width: $mobile) {
      padding-bottom: toRem(30);
      min-height: toRem(350);
    }

    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__title {
    font-family: Benzin;
    font-weight: 400;
    @include adaptiveValue("font-size", 126, 40);
    line-height: 100%;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }

  &__buttons {
    display: flex;
    gap: toRem(20);

    @media (max-width: $mobile) {
      gap: toRem(10);
      flex-direction: column;
      margin-top: auto;
    }
  }

  &__button {
  }
}

//========================================================================================================================================================

.text-block {
  @include adaptiveValue("padding-top", 50, 20);
  @include adaptiveValue("padding-bottom", 25, 20);
  &__container {
  }

  &__items {
    display: grid;
    gap: toRem(20);

    grid-template-columns: repeat(4, 1fr);

    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    font-weight: 400;
    @include adaptiveValue("font-size", 25, 18);
    line-height: 130%;

    @media (min-width: $mobile) {
      &:first-child {
        grid-column: span 2;
      }
    }

    p {
      @media (min-width: $mobile) {
        max-width: toRem(486);
      }
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 15, 10);
      }
    }
  }
}

//========================================================================================================================================================

.cards {
  @include adaptiveValue("padding-top", 25, 20);
  @include adaptiveValue("padding-bottom", 75, 30);
  &__container {
  }

  &__items {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // gap: toRem(21);
  }

  &__image-ibg {
    // width: 25%;
    width: 24%; /* 372/1550 */

    @media (max-width: $pc) {
      width: 32%;
    }
    @media (max-width: $tablet) {
      width: calc(50% - 10px);
    }
    @media (max-width: $mobile) {
      width: 100%;
      height: toRem(350);
    }
    border-radius: 20px;
    overflow: hidden;

    height: toRem(450);
    // padding-bottom: percent(450, 1550);
    margin-bottom: toRem(20);

    @media (min-width: $tablet) {
      &:nth-child(3) {
        margin-top: toRem(100);
      }
    }
    @media (min-width: $pc) {
      &:nth-child(4) {
        margin-top: toRem(50);
      }
    }

    video {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }

    &_hide {
      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  &__item {
    @media (min-width: $mobile) {
      &:nth-child(2) {
        padding-top: toRem(50);
      }
    }
  }
}
.item-cards {
  //   height: fit-content;
  width: 24%; /* 372/1550 */

  @media (max-width: $pc) {
    width: 32%;
  }
  @media (max-width: $tablet) {
    width: 48%;
  }
  @media (max-width: $mobile) {
    width: 100%;
  }

  padding-bottom: toRem(20);
  //   padding-bottom: toRem(20);

  &_line {
    .item-cards__wrapper {
      background-color: #fff;
    }
  }

  &__wrapper {
    padding: toRem(30) toRem(30) toRem(40);
    height: toRem(450);

    @media (max-width: $mobile) {
      height: toRem(390);
      padding: toRem(20);
    }

    border-radius: 20px;
    overflow: hidden;
    background-color: #c3ff01;
    border: 1px solid #c3ff01;
    display: flex;
    flex-direction: column;
  }

  &__image {
    width: toRem(150);

    img {
      max-width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }

  &__num {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;

    &:not(:last-child) {
      //   margin-bottom: toRem(85);
      margin-bottom: toRem(20);
    }
  }

  &__title {
    margin-top: auto;
    font-weight: 500;
    font-size: 25px;
    line-height: 130%;

    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }

  &__goute {
    font-weight: 400;
    font-size: toRem(18);
    line-height: 130%;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }

    p {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 15, 10);
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: toRem(16);
    line-height: 130%;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }

    p {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 15, 10);
      }
    }
  }

  &__place {
    margin-top: auto;
    font-weight: 400;
    font-size: toRem(16);
    line-height: 130%;
  }
}

//========================================================================================================================================================

.catalog {
  @include adaptiveValue("padding-top", 25, 20);
  @include adaptiveValue("padding-bottom", 25, 20);
  &__container {
    display: grid;
  }

  &__title {
    @include adaptiveValue("margin-bottom", 50, 30);
  }

  &__items {
    @media (min-width: $mobile) {
      display: grid;
      gap: toRem(20);
      grid-template-columns: repeat(auto-fill, minmax(toRem(372), 1fr));
    }
  }

  &__item {
    @media (max-width: $mobile) {
      &:not(:last-child) {
        margin-bottom: toRem(15);
      }
    }
  }

  &__button {
    @media (min-width: $mobile) {
      display: none;
    }
    @media (max-width: $mobile) {
      @include adaptiveValue("margin-top", 50, 30);
    }

    justify-self: center;
    span {
      &:last-child {
        display: none;
      }
      ._showmore-active & {
        display: none;
        &:last-child {
          display: block;
        }
      }
    }
  }
}

.item-catalog {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: space-between;
  gap: toRem(10);

  transition: all 0.2s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      text-decoration: underline;
      background-color: #c3ff01;
    }
  }

  &__title {
    font-weight: 500;
    @include adaptiveValue("font-size", 25, 18);
    line-height: 130%;

    @include adaptiveValue("padding", 30, 10);
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    flex-shrink: 0;
    flex-grow: 0;
    @include adaptiveValue("flex-basis", 150, 100);

    img {
      max-width: 100%;
    }
  }
}

//========================================================================================================================================================

.line-text {
  @include adaptiveValue("padding-top", 225, 40);
  @include adaptiveValue("padding-bottom", 225, 40);
  &__container {
  }

  &__slider {
    // width: 200vw;
    width: calc(100vw + 50px);
    margin-left: -25px;
    background-color: #c3ff01;

    position: relative;
    &:nth-child(1) {
      transform: rotate(-10deg);
      z-index: 1;
    }
    &:nth-child(2) {
      transform: rotate(4deg);
      z-index: 2;
    }
  }

  &__wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
  }

  &__slide {
    font-weight: 500;
    @include adaptiveValue("font-size", 40, 17);
    line-height: 100%;
    white-space: nowrap;

    @include adaptiveValue("padding-top", 20, 10);
    @include adaptiveValue("padding-bottom", 20, 10);
  }
}

//========================================================================================================================================================

.location {
  @include adaptiveValue("padding-top", 70, 30);
  @include adaptiveValue("padding-bottom", 70, 30);
  &__container {
  }

  &__body {
    display: grid;
    gap: toRem(20);
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__map {
    iframe {
      width: 100%;
      height: 100%;
    }

    @media (max-width: $tablet) {
      min-height: toRem(400);
    }
  }

  &__items {
    @media (min-width: $tablet) {
      margin: toRem(50) 0;
      padding-right: toRem(50);
    }
    max-height: toRem(480);
    overflow: auto;
    @extend %scrollbar;
  }

  &__item {
  }
}
.item-location {
  padding: toRem(10) 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  &__line {
    display: flex;
    gap: toRem(10);
    align-items: center;

    font-weight: 400;
    @include adaptiveValue("font-size", 18, 16);
    line-height: 130%;

    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        span {
          text-decoration: underline;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: toRem(10);
    }

    &::before {
      flex: 0 0 toRem(24);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      font-size: toRem(20);
      color: #c3ff01;
    }
  }
}
