//====================================================================================================

.hero {
  @include adaptiveValue("padding-bottom", 50, 30);

  @media (min-width: $tablet) {
    padding-top: toRem(130);
  }

  &__container {
  }

  &__wrapper {
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    @include adaptiveValue("padding-bottom", 165, 30, 0, 1580, 991);

    @media (min-width: $tablet) {
      @include adaptiveValue("padding-top", 110, 70);
    }
    @media (max-width: $tablet) {
      min-height: toRem(700);
      @include adaptiveValue("padding-top", 110, 235, 0, 991, 375);
      display: flex;
      flex-direction: column;
      margin-right: toRem(-15);
      margin-left: toRem(-15);

      border-radius: 0 0 10px 10px;
    }
    @media (max-width: $pc) {
      padding-left: toRem(15);
      padding-right: toRem(15);
    }
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__video-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    video {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      // object-position: left;
    }
  }

  // &__chank {
  //   position: absolute;
  //   width: 52.3%; /* 811/1550 */
  //   height: 100%;
  //   top: 2px;
  //   left: 0;

  //   img {
  //     max-width: 100%;
  //   }

  //   @media (max-width: $pc) {
  //     display: none;
  //   }
  // }

  &__title {
    font-family: "Benzin";
    font-weight: 400;
    @include adaptiveValue("font-size", 169, 40);
    line-height: 100%;
    color: #c3ff01;
    // opacity: 0;
    user-select: none;
    text-align: center;
    @media (max-width: $pc) {
      margin-bottom: toRem(10);
    }
    @media (min-width: $pc) {
      // margin-left: toRem(160);
    }

    @media (min-width: $mobile) {
      margin-bottom: toRem(20);
    }
  }

  &__body {
    @media (min-width: $tablet) {
      margin-left: auto;
      width: 50%;
    }
    @media (max-width: $tablet) {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__community {
    font-family: "Inter Tight";
    font-weight: 400;
    @include adaptiveValue("font-size", 35, 18);
    line-height: 120%;
    color: #fff;

    @media (max-width: $tablet) {
      text-align: right;
    }

    &:not(:last-child) {
      margin-bottom: toRem(50);

      @media (max-width: $tablet) {
        margin-bottom: toRem(85);
      }
    }
  }

  &__buttons {
    display: flex;
    gap: toRem(23);

    @media (max-width: $mobile) {
      gap: toRem(10);
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__button {
    @media (max-width: $tablet) {
      background-color: #fff;
      width: max-content;

      &.button-line {
        background-color: #c3ff01;
        color: #000;
      }
    }
  }
}

//====================================================================================================

.about-hero {
  &__container {
  }

  &__body {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }

  &__wrapper {
    max-width: toRem(1240);
    margin-left: auto;
    margin-right: auto;

    padding-left: toRem(15);
    padding-right: toRem(15);
    @include adaptiveValue("padding-top", 144, 70);

    @media (min-width: $mobile) {
      @include adaptiveValue("padding-bottom", 210, 100);
    }
    @media (max-width: $mobile) {
      padding-bottom: toRem(30);
      min-height: toRem(350);
    }

    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__title {
    font-family: Benzin;
    font-weight: 400;
    @include adaptiveValue("font-size", 126, 40);
    line-height: 100%;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }

  &__buttons {
    display: flex;
    gap: toRem(20);

    @media (max-width: $mobile) {
      gap: toRem(10);
      flex-direction: column;
      margin-top: auto;
    }
  }

  &__button {
  }
}

//========================================================================================================================================================

.text-block {
  @include adaptiveValue("padding-top", 50, 20);
  @include adaptiveValue("padding-bottom", 25, 20);
  &__container {
  }

  &__items {
  }

  &__wrapper {
    @media (min-width: $mobile) {
      &.swiper-wrapper {
        @media (min-width: $tablet) {
          display: grid;
          gap: toRem(20);
          grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: $tablet) and (min-width: $mobile) {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }

  &__item {
    font-weight: 400;
    @include adaptiveValue("font-size", 25, 18);
    line-height: 130%;

    @media (max-width: $mobile) {
      padding: toRem(20);
      background-color: #c3ff01;
      border-radius: 10px;
    }

    @media (min-width: $mobile) {
      &:first-child {
        grid-column: span 2;
      }
    }

    p {
      @media (min-width: $mobile) {
        max-width: toRem(486);
      }
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 15, 10);
      }
    }

    &_small {
      @include adaptiveValue("font-size", 18, 16);
    }
  }

  &__pagination {
    @media (min-width: $mobile) {
      display: none;
    }
    @media (max-width: $mobile) {
      margin-top: toRem(5);
    }
  }
}

//========================================================================================================================================================

.cards {
  @include adaptiveValue("padding-top", 25, 20);
  @include adaptiveValue("padding-bottom", 75, 30);

  &_pc {
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &_mob {
    @media (min-width: $tablet) {
      display: none;
    }
  }
  &__container {
  }

  &__items {
    @media (max-width: $pc) and (min-width: em(1250)) {
      zoom: 0.8;
    }

    &[data-iso-items] {
      @media (max-width: $tablet) {
        display: none;
      }
    }
    @media (max-width: $tablet) {
      display: grid;
      @include adaptiveValue("gap", 20, 10, 0, 991, 375);
      grid-template-columns: repeat(2, 1fr);
    }

    &_mob {
      @media (min-width: $tablet) {
        display: none;
      }
    }
  }

  &__image-ibg {
    @media (min-width: em(1250)) {
      width: 24%; /* 372/1550 */
    }
    @media (max-width: em(1250)) and (min-width: $tablet) {
      width: 32%;
    }
    border-radius: 20px;
    overflow: hidden;

    // padding-bottom: percent(450, 1550);

    @media (max-width: $tablet) {
      padding-bottom: 100%;
    }
    @media (min-width: $tablet) {
      height: toRem(450);
      margin-bottom: toRem(20);
      &:nth-child(3) {
        margin-top: toRem(100);
      }
    }
    @media (min-width: $pc) {
      &:nth-child(4) {
        margin-top: toRem(50);
      }
    }

    video {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }

    &_hide {
      @media (max-width: $tablet) {
        display: none;
      }
    }
    &_hide_tablet {
      @media (max-width: $pc) {
        display: none;
      }
    }
  }

  &__item {
    @media (min-width: $tablet) {
      &:nth-child(2) {
        padding-top: toRem(50);
      }
    }
  }
}
.item-cards {
  @media (min-width: em(1250)) {
    width: 24%; /* 372/1550 */
  }
  @media (max-width: em(1250)) and (min-width: $tablet) {
    width: 32%;
  }
  @media (min-width: $tablet) {
    padding-bottom: toRem(20);
  }
  @media (max-width: $tablet) {
    grid-column: span 2;
  }

  &_line {
    .item-cards__wrapper {
      background-color: #fff;
    }
  }

  &__wrapper {
    padding: toRem(30) toRem(30) toRem(40);

    @media (min-width: $tablet) {
      height: toRem(450);
    }

    @media (max-width: $mobile) {
      padding: toRem(20);
    }

    border-radius: 20px;
    overflow: hidden;
    background-color: #c3ff01;
    border: 1px solid #c3ff01;
    display: flex;
    flex-direction: column;

    &.item-cards__wrapper_image {
      @media (max-width: $tablet) {
        flex-direction: row;
        gap: toRem(10);
      }
    }
  }

  &__image {
    @include adaptiveValue("width", 150, 95);
    @include adaptiveValue("flex-basis", 150, 95);
    flex-shrink: 0;
    img {
      max-width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }

  &__num {
    font-weight: 700;
    @include adaptiveValue("font-size", 40, 30);
    line-height: 130%;

    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }

  &__title {
    margin-top: auto;
    font-weight: 500;
    @include adaptiveValue("font-size", 25, 18);
    line-height: 130%;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 10);
    }
  }

  &__goute {
    font-weight: 400;
    font-size: toRem(18);
    line-height: 130%;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }

    p {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 15, 10);
      }
    }
  }

  &__text {
    font-weight: 400;
    @include adaptiveValue("font-size", 16, 14);
    line-height: 130%;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }

    p {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 15, 10);
      }
    }
  }

  &__place {
    margin-top: auto;
    font-weight: 400;
    font-size: toRem(16);
    line-height: 130%;
  }
}

//========================================================================================================================================================

.catalog {
  @include adaptiveValue("padding-top", 25, 20);
  @include adaptiveValue("padding-bottom", 25, 20);
  &__container {
    display: grid;
  }

  &__title {
    @include adaptiveValue("margin-bottom", 50, 30);
  }

  &__items {
    @media (min-width: $mobile) {
      display: grid;
      gap: toRem(20);
      grid-template-columns: repeat(auto-fill, minmax(toRem(372), 1fr));
    }
    @media (min-width: em(1350)) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    @media (max-width: $mobile) {
      &:not(:last-child) {
        margin-bottom: toRem(15);
      }
    }
  }

  &__button {
    @media (min-width: $mobile) {
      display: none;
    }
    @media (max-width: $mobile) {
      @include adaptiveValue("margin-top", 50, 30);
    }

    justify-self: center;
    span {
      &:last-child {
        display: none;
      }
      ._showmore-active & {
        display: none;
        &:last-child {
          display: block;
        }
      }
    }
  }
}

.item-catalog {
  border-radius: 10px;
  background-color: #fff;
  //   border: 1px solid rgba(0, 0, 0, 0.5);

  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    pointer-events: none;
  }

  @media (max-width: $mobile) {
    &:nth-child(8) {
      &::before {
        height: calc(100% - 1px);
      }
    }
  }

  display: flex;
  justify-content: space-between;
  gap: toRem(10);

  transition: all 0.2s ease 0s;

  &:hover {
    text-decoration: underline;
    background-color: #c3ff01;
  }

  &__title {
    font-weight: 500;
    @include adaptiveValue("font-size", 25, 18, 0, 1580, 767);
    line-height: 130%;

    @include adaptiveValue("padding", 30, 10, 0, 1580, 767);
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
    flex-grow: 0;
    @include adaptiveValue("flex-basis", 150, 100);
    @include adaptiveValue("height", 150, 100);

    img {
      max-width: 100%;
    }
  }
}

//========================================================================================================================================================

.line-text {
  @include adaptiveValue("padding-top", 225, 40);
  @include adaptiveValue("padding-bottom", 225, 40);
  &__container {
  }

  &__slider {
    // width: 200vw;
    width: calc(100vw + 50px);
    margin-left: -25px;
    background-color: #c3ff01;

    position: relative;
    &:nth-child(1) {
      transform: rotate(-10deg);
      z-index: 1;

      @media (max-width: $mobile) {
        transform: rotate(-10deg) translateY(20px);
      }
    }
    &:nth-child(2) {
      transform: rotate(4deg);
      z-index: 2;

      @media (max-width: $mobile) {
        transform: rotate(4deg) translateY(-20px);
      }
    }
  }

  &__wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
  }

  &__slide {
    font-weight: 500;
    @include adaptiveValue("font-size", 40, 10);
    line-height: 100%;
    white-space: nowrap;

    @include adaptiveValue("padding-top", 20, 10);
    @include adaptiveValue("padding-bottom", 20, 10);
  }
}

//========================================================================================================================================================

.location {
  @include adaptiveValue("padding-top", 70, 30);
  @include adaptiveValue("padding-bottom", 70, 30);
  &__container {
  }

  &__body {
  }
  .tabs__content {
    @media (min-width: $tablet) {
      // display: grid;
      // gap: toRem(20);
      // grid-template-columns: repeat(2, 1fr);

      display: flex;
      flex-direction: row-reverse;
      gap: toRem(20);
    }
  }

  .tabs__navigation {
    @media (min-width: $tablet) {
      display: none;
    }
    @media (max-width: $tablet) {
      margin-bottom: toRem(35);
    }
  }
  .tabs__body {
    @media (min-width: $tablet) {
      display: grid;
      flex: 0 0 calc(50% - 10px);
    }
  }

  &__map {
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    iframe {
      width: 100%;
      height: 100%;

      @media (min-width: $tablet) {
        min-height: toRem(580);
      }
      @media (max-width: $tablet) {
        min-height: toRem(400);
      }
    }

    & > div {
      // flex: 1 1 auto;
      width: 100%;
      height: 100%;
    }
  }

  &__items {
    @media (min-width: $tablet) {
      padding-right: toRem(45);
      max-height: toRem(470);
      overflow: auto;
    }
    @extend %scrollbar;
    @media (max-width: $tablet) {
      padding-right: toRem(20);
    }
  }

  &__item {
  }
  &__more {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: toRem(20);

    @media (min-width: $tablet) {
      display: none;
    }
  }
}
.item-location {
  padding: toRem(10) 0;

  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 1px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__line {
    display: flex;
    gap: toRem(10);
    align-items: center;

    font-weight: 400;
    @include adaptiveValue("font-size", 18, 14);
    line-height: 130%;

    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        span {
          text-decoration: underline;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: toRem(10);
    }

    &::before {
      flex: 0 0 toRem(24);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      font-size: toRem(20);
      color: #c3ff01;

      @media (max-width: $mobile) {
        flex: 0 0 toRem(15);
        font-size: toRem(14);
      }
    }
  }
}

//========================================================================================================================================================

.clients {
  @include adaptiveValue("padding-top", 75, 30);
  @include adaptiveValue("padding-bottom", 75, 30);
  &__container {
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }

  &__wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
  }

  &__items {
  }

  &__item {
    border-radius: toRem(10);
    overflow: hidden;
    border: 1px solid #000000;
    padding: toRem(1);
    img {
      border-radius: toRem(10);
      overflow: hidden;
      max-width: 100%;
    }
  }
}

.item-clients {
}

//========================================================================================================================================================

.brooklyn {
  @include adaptiveValue("padding-top", 25, 20);
  @include adaptiveValue("padding-bottom", 75, 30);
  &__container {
  }

  &__body {
    border-radius: 20px;
    overflow: hidden;
    position: relative;

    padding: toRem(60) toRem(30) toRem(30);

    @media (max-width: $mobile) {
      padding: toRem(40) toRem(15) toRem(20);
    }
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__title {
    text-transform: uppercase;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 200, 50);
    }
  }

  &__items {
    display: grid;
    @include adaptiveValue("gap", 70, 20);

    @media (min-width: $mobile) {
      grid-template-columns: repeat(auto-fill, minmax(toRem(320), 1fr));
    }
    @media (min-width: em(1350)) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
  }
}

.item-brooklyn {
  line-height: 130%;
  color: #fff;

  &__title {
    font-weight: 500;
    @include adaptiveValue("font-size", 25, 22);
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }

  &__text {
    @include adaptiveValue("font-size", 18, 16);
  }
}

//========================================================================================================================================================
.readmore {
  @include adaptiveValue("padding-top", 75, 30);
  @include adaptiveValue("padding-bottom", 75, 30);
  &__container {
  }

  &__body {
    display: grid;
    gap: toRem(20);
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__image-ibg {
    height: fit-content;
    padding-bottom: percent(415, 764);
  }

  &__showmore {
  }
}

.showmore {
  display: flex;
  flex-direction: column;

  &__content {
    margin-bottom: toRem(15);
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 500;
      @include adaptiveValue("font-size", 25, 20);
      line-height: 130%;

      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 20, 15);
      }
    }

    p {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 15, 10);
      }
    }

    font-weight: 400;
    @include adaptiveValue("font-size", 18, 16);
    line-height: 130%;
  }

  &__more {
    align-self: flex-start;
    margin-top: auto;
    font-weight: 400;
    @include adaptiveValue("font-size", 18, 16);
    line-height: 130%;

    transition: color 0.3s ease 0s;
    position: relative;
    @media (any-hover: hover) {
      &:hover {
        color: #c3ff01;
        &::before {
          background-color: #c3ff01;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #000;
      transition: all 0.3s ease 0s;
    }
  }
}
